<!DOCTYPE html>
<html>
  <head>
    <title>Homey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- Header -->
    <header class="bg-blue-900 text-white p-6">
      <div class="container mx-auto flex justify-between items-center">
        <%= link_to (user_signed_in? ? authenticated_root_path : unauthenticated_root_path), class: "font-semibold text-xl tracking-tight text-white" do %>
          Homey
        <% end %>
        <div class="flex items-center">
          <% if user_signed_in? %>
            <span class="mr-8 text-white font-bold text-lg">Welcome, <%= current_user.first_name %> <%= current_user.last_name %></span>
            <%= button_to destroy_user_session_path, method: :delete, data: { turbo: "true" }, class: "inline-flex items-center bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" do %>
              <span>Sign Out</span>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path, class: "inline-flex items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2" do %>
              <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h1m0-4h-1v4h1m-6 4h.01M17 16h.01M12 20h.01M19 10h.01M17 10h.01M19 14h.01M17 14h.01M14 14h.01M16 14h.01M10 10h.01M8 10h.01M6 10h.01M14 10h.01M16 10h.01M10 14h.01M8 14h.01M6 14h.01M13 14h.01M12 10h.01"></path></svg>
              Sign In
            <% end %>
            <%= link_to new_user_registration_path, class: "inline-flex items-center bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" do %>
              <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-4.215a2 2 0 00-1.905-1.385H13.31a2 2 0 00-1.905 1.385L10 17h5m1-3v-1.5a1.5 1.5 0 10-3 0V14m0 0v3"></path></svg>
              Sign Up
            <% end %>
          <% end %>
        </div>
      </div>
    </header>
    
    <!-- Main Content -->
    <main class="flex-grow container mx-auto px-4 mt-8">
      <%= yield %>
    </main>
    
    <!-- Footer -->
    <footer class="bg-blue-900 text-white p-6 mt-8">
      <div class="container mx-auto text-center">
        <p>&copy; 2024 Homey</p>
      </div>
    </footer>
  </body>
</html>
